div{
	margin:350px;
	border:3px solid brown;
	padding:30px;
	background-color:#D8B08C;
	border-radius:20px 20px 20px 20px;
	transition:1s;
}
div:hover{
	border:5px solid black;
	border-radius:20px 20px 20px 20px;
	box-shadow:20px 20px 15px brown,-20px -20px -15px black;
	transform:scale(1.2);
}
